html {
  font-family: Helvetica;
}

span {
  color: blue;
  font-weight: bold;
}

.heading {
    background-image: url("./images/pattern.jpeg");
    text-align: center;
}

.sub {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.heading h1 {
  color: khaki;
  font-size: 100px;
  font-weight: bold;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
